<!DOCTYPE html>
<html>
<head>
	<title>Moshood Scrumy</title>
	<style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		th, td {
		  padding: 5px;
		  text-align: left;    
		}
	</style>
</head>
<body>
	<table style="width:100%">
		<tr>
			<th>User</th>
			<th>Weekly Goals</th>
			<th>Daily Goals</th>
			<th>Verify Goals</th>
			<th>Done Goals</th> 
		</tr>
		<tr>
			<th>{{user_real}}</th> 
			<th>{{weekly_goals}}</th> 
			<th>{{daily_goals}}</th> 
			<th>{{verify_goals}}</th> 
			<th>{{done_goals}}</th> 
		</tr>
	</table>
	
</body>
</html>


<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<a href="{% url 'about' %}"> About us </a>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
	<title>home</title>
</head>
<body>
	<a href="{% url 'moshoodscrumy:addgoal' %}">Home</a>
</body>
</html>
